<div class="bg-white p-2 rounded text-gray-600 text-sm flex flex-wrap justify-between">
    <ul class="my-2 md:w-1/2 w-full">
        <li><strong>Category</strong>: {{block.certificate_category}}</li>
        <li><strong>Institution</strong>: {{block.institution_name}}</li>
        <li><strong>Degree</strong>: {{block.degree_name}}</li>
        <li><strong>Dates</strong>: {{block.date_range}}</li>
        <li><strong>Description</strong>: {{block.description}}</li>

        <li><strong>Block Index</strong>: {{block.index}}</li>
        <li><strong>Added Timestamp</strong>: {{block.timestamp}}</li>
        <li><strong>Hash</strong>: {{block.hash}}</li>
        <li><strong>Previous Hash</strong>: {{block.previousHash}}</li>
    </ul>
    <div class="my-2 mx-2 center_vertical">
        <img class="rounded w-28 h-auto" src="https://safe-demo-api.herokuapp.com/images?name=certified" alt="certified">
    </div>
    <div class="my-2 center_vertical">
        <form method="POST" action="educationcreate.html" class="inline">
            <input type="hidden" name="_token" value="SlPAvQo10bjzpQr74qN9t493qvdNvRq3cZgqrt66">
            <input type="hidden" name="_method" value="DELETE"> <button type="submit"
                class="btn text-red-500 ml-2">Delete</button>
        </form>
    </div>
</div>
